@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

.indentationAnimation {
  position: relative;                    
  display: inline-block;                 
  transition: padding-left 0.3s ease-in-out;   
}

.indentationAnimation:hover {
  padding-left: 25px;                    
}

.indentationAnimation::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.indentationAnimation:hover::before {
  width: 15px;                          
}